extends layout

block content
    h1="Rules"
    h2="Current Rules"
    div(id="navigation")
        button(id='goToStream')="Return To Stream"
    div(id='editRules')
        div(id='addRule')
            input(id='rule' placeholder='New Rule' autocomplete="off")
            input(id='tag' placeholder='Rule Tag' autocomplete="off")
            button(id='addRuleBtn')="Add Rule"
        div(id='deleteRules')
            input(id='delTag' placeholder="ID to Delete" autocomplete="off")
            button(id='deleteRuleBtn')="Delete"
    div(id='message')
    div(id='rulesTable')
    script var data = !{data}
    script(src=('/javascripts/rulesTable.js'))
    script(src='/javascripts/rulesButtons.js')